body {
    background-color: #83cffc;
    background-image: url('./assets/bluey_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    display: grid;
}

button {
    width: 100px;
}

.button-active {
    text-align: right;
}

.header{
    display: grid;
    align-content: center;
}

.nav {
    display: grid;
    align-content: center;
    grid-template-columns: auto 100px 100px 100px auto;
    justify-items: end;
}

.center_content {
    height: 10px;
    outline-color: red;
}

.footer{

}