@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body {
    background-color: #9cceda;
    background-image: url('./assets/bluey_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    font-family: 'Nanum Pen Script', cursive;
}

#content {
    display: grid;
    grid-template-rows: 100px auto 50px;
}

button {
    width: 120px;
    background-color: #fdb273;
    padding: 3px;
    margin:10px 30px;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

button:hover {
    border-color: rgba(255,255,255,1);
}

.button-active {
    color: #373661;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
} 

.header{
    display: grid;
    align-content: center;
}

h1 {
    font-size: 48px;
    display: inline-block;
    background-color: #85d0fc;
    box-shadow: 0px 0px 5px 10px #85d0fc;
}

.menuItem {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 320px;
    justify-items: center;
    padding-top: 10px;
}

.menuItem>h2 {
    font-size: 30px;
    margin: 10px 0 0 0;
    text-decoration: underline;
    background-color: #85d0fc;
    box-shadow: 0px 0px 5px 10px #85d0fc;
}

.menuItem>p {
    align-self: top;
    margin: 0 30px 0 30px;
    background-color: #85d0fc;
    box-shadow: 0px 0px 5px 10px #85d0fc;
    text-align: center;
}

.nav {
    display: grid;
    align-content: center;
    grid-template-columns: auto 150px 150px 150px auto;
    justify-items: center;
}

.center_content {
    display: grid;
}

.footer{
    font-family: 'Times New Roman', Times, serif;
}