body {
    background-color: #83cffc;
    background-image: url('./assets/bluey_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    display: grid;
}

button {
    box-shadow: silver;
}

.header{
    display: grid;
    align-content: center;
}

.center_content {
    height: 10px;
    outline-color: red;
}

.footer{

}